.newsletter-sign-up {
  &__container {
    margin-bottom: 104px;
    @media (min-width: 1200px) {
      max-width: 520px;
      width: 100%;
    }
  }
  &__header {
    margin-bottom: 1rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__text {
    margin-bottom: 2rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    @media (min-width: 1200px) {
      margin-bottom: 40px;
      max-width: 344px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }
  &__form-input {
    background: #ffffff;
    height: 48px;
    border-radius: 6px;
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    @media (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 40px;
      flex-grow: 1;
    }
  }
  &__form-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #ff52c1;
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 48px;
    align-self: flex-end;
  }
}
