.footer {
  &__background-image {
    background-image: url('./assets/backgrounds/bg-footer-top-mobile.svg');
    background-size: 100% 109px;
    height: 109px;
    @media (min-width: 1200px) {
      height: 273px;
      background-size: 100% 273px;
    }
  }
  &__content {
    background: #00252e;
    padding: 0 28px;
    padding-bottom: 48px;
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 120px;
      padding-bottom: 103px;
    }
  }
}
