@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('./assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
}

.footer {
  &__background {
    background: #00252e;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
  &__background-image {
    background-image: url('./assets/backgrounds/bg-footer-top-mobile.svg');
    background-size: 100% 109px;
    height: 109px;
    @media (min-width: 1200px) {
      height: 273px;
      background-size: 100% 273px;
    }
  }
  &__content {
    padding: 0 28px;
    padding-bottom: 48px;
    max-width: 1440px;
    width: 100%;
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 120px;
      padding-bottom: 103px;
    }
  }
}
