.grow-together {
  &__container {
    width: 100%;
    margin-bottom: 200px;
    @media (min-width: 1024px) {
      margin-bottom: 220px;
    }
  }
  &__inner-container {
    width: 100%;
    background: #f6fbff;
    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }
  &__background-image-container {
    position: relative;
  }
  &__background-image {
    &--top {
      background-image: url('../../assets/backgrounds/bg-section-top-mobile-1.svg');
      height: 180px;
      background-size: 100% 180px;
      @media (min-width: 1024px) {
        background-image: url('../../assets/backgrounds/bg-section-top-desktop-1.svg');
        height: 165px;
        background-size: 100% 165px;
      }
    }
    &--bottom {
      position: absolute;
      background-image: url('../../assets/backgrounds/bg-section-bottom-mobile-1.svg');
      height: 133px;
      width: 100%;
      background-size: 100% 133px;
      @media (min-width: 1024px) {
        background-image: url('../../assets/backgrounds/bg-section-bottom-desktop-1.svg');
        height: 116px;
        background-size: 100% 116px;
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 130px;
    }
  }
  &__illustration-container {
    margin: 0 48px;
    margin-bottom: 40px;
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: center;
    padding: 34.22px 10.5px;
    max-width: 560px;
    @media (min-width: 600px) {
      flex-grow: 1;
      margin: 0;
      padding: 68.44px 21px;
    }
  }
  &__illustration {
    width: 100%;
  }
  &__header {
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252e;
    @media (min-width: 1024px) {
      text-align: left;
      font-size: 40px;
      line-height: 60px;
    }
  }
  &__text {
    margin: 0 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252e;
    @media (min-width: 1024px) {
      margin: 0;
      text-align: left;
      width: 520px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
