.grow-together {
  &__container {
    margin-bottom: 120px;
  }
  &__background-image {
    &--top {
      background-image: url('../../assets/backgrounds/bg-section-top-mobile-1.svg');
      height: 180px;
      background-size: 100% 180px;
    }
    &--bottom {
      background-image: url('../../assets/backgrounds/bg-section-bottom-mobile-1.svg');
      height: 133px;
      background-size: 100% 133px;
    }
  }
  &__body {
    background: #f6fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__illustration {
    margin: 0 48px;
    margin-bottom: 40px;
    max-width: calc(100% - 48px - 48px);
  }
  &__header {
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252e;
  }
  &__text {
    margin: 0 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252e;
  }
}
